<hr>
<section class="feet">
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <img class = 'logo' src="/css/image/hpa_full_name_black.jpg" alt="hpa logo">
    </div>
    <div class="col-lg-6 col-md-12">
      <h3>Hawaii Preparatory Academy</h3>
      <div class="contact-information">
        <i class="contact-i bi bi-geo-alt"></i>
        <p class="contact">65-1692 Kohala Mountain Road Kamuela, HI 96743</p>
        <i class="contact-i bi bi-phone"></i>
        <p class = "phone">808.885.7321</p>
      </div>
      <div class="social">
        <i class="social-media bi bi-twitter"></i>
        <i class="social-media bi bi-instagram"></i>
        <i class="social-media bi bi-facebook"></i>
      </div>

    </div>
  </div>


</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/index.js" charset="utf-8"></script>
</body>
</html>
