<%-include('header')%>
  <body>
    <!-- <section>
      <div class="">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand ms-5" href="#"><i class="bi bi-tree-fill"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto me-auto mb-2 mb-lg-0">
            <li class="nav-item ">
              <a class="nav-link" aria-current="page" href="index.html">Home</a>
            </li>
            <li class="nav-item ">
              <a class = 'nav-link'href="food.html">Food</a>
            </li>
            <li class="nav-item ">
              <a class = 'nav-link active' href = "trip.html">Trip</a>
            </li>
            <li class = "nav-item ">
              <a class = 'nav-link' href="yours.html">Yours</a>
            </li>
          </ul>
          <div class="dropdown dropstart">
          <button class="btn btn-danger dropdown-toggle me-5" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-person-circle"></i>
          </button>
          <ul class="dropdown-menu dropdowm-menu-start" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Sign Out</a></li>


        </div>

      </div>

    </nav>
      </div>

    </section> -->

    <!-- title -->
    <section id = "t-title">
      <div class="container-fluid">
        <div class="t-title-row row">
          <div class="t-title-left col-md-6">
            <h1>Explore This Beautiful Place</h1>
            <button class = "btn btn-danger"type="button" name="button">Explore</button>
          </div>
          <div class="t-title-right col-md-6">
            <video autoplay muted loop id="myVideo">
            <source src="css/image/firework.mp4" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
    </section>

<!-- Service Experience -->
    <section id = "t-service">
    <div class="container">
      <h3>Amazing Service Opportunities</h3>
      <div class="row">
        <div class="col-md-6">
          <div class="card bg-dark text-white">
          <img src="css/image/garden.jpg" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h3 class="card-title">Community Garden</h3>
            <a class = "btn btn-danger"href="">Sign Up</a>

          </div>
        </div>
        </div>
        <div class="col-md-6">
          <div class="card bg-dark text-white">
          <img src="css/image/stream.jpg" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h3 class="card-title">Waiaka Stream</h3>
            <a class = "btn btn-danger"href="">Sign Up</a>

          </div>
        </div>
        </div>


      </div>

    </div>
    </section>
    <!-- Share Experiences -->
    <section id = "t-experiences">
      <div class="container">
        <h3>Share Your Experience</h3>
        <div class="row">
          <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
          <img src="css/image/exp1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          </div>

          </div>
          <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
              <img src="css/image/exp2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
              <img src="css/image/exp3.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>

          </div>
          <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
            <img src="css/image/exp4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class = "card-title"></h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          </div>

        </div>
        <button class = "btn btn-danger"type="button" name="button">Explore More</button>
      </div>
    </section>


    <!-- footer -->
    <section class="feet">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <img class = 'logo' src="css/image/hpa_full_name_black.jpg" alt="hpa logo">
        </div>
        <div class="col-lg-6 col-md-12">
          <h3>Hawaii Preparatory Academy</h3>
          <div class="contact-information">
            <i class="contact-i bi bi-geo-alt"></i>
            <p class="contact">65-1692 Kohala Mountain Road Kamuela, HI 96743</p>
            <i class="contact-i bi bi-phone"></i>
            <p class = "phone">808.885.7321</p>
          </div>
          <div class="social">
            <i class="social-media bi bi-twitter"></i>
            <i class="social-media bi bi-instagram"></i>
            <i class="social-media bi bi-facebook"></i>
          </div>

        </div>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="index.js" charset="utf-8"></script>
  </body>
</html>
