<%-include('header')%>
  <body>

    <section id = "portfolio">
      <div class="container">
        <img src="" alt="portfolio">
        <h3> UserName</h3>
        <h5>account number</h5>
      </div>
      <div class="buttons">
        <div class="row">
          <div class="left col-md-6">
            <button class = "btn btn-danger"type="button" name="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Add New</button>
          </div>

          <div class="right col-md-6">
            <button class = "btn btn-outline-danger"type="button" name="button">Account</button>
          </div>
        </div>
      </div>
    </section>

    <section id = "dashboard">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <button class = "button-toggle btn"type="button" name="button">Shared</button>
          </div>
          <div class="col-md-6">
            <button class = " btn"type="button" name="button">Saved</button>
          </div>
        </div>
        </div>
    </section>

    <div class="modal modal-dialog modal-fullscreen" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New Post</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

        <div class="modal-body">


          <form action = "/" method = "post" id = "usrForm" enctype="multipart/form-data">
            <div class = "mb-3">
                <input class = "form-control" type = "file" name = "image">
           </div>
            <div class = "mb-3">
                <label class = "col-form-label" for = "title">Title</label>
                <input class = "form-control" type = "text" name = "title">
            </div>
            <div class = "mb-3">
                <label class = "col-form-label" for = "comments">Comments</label>
           <textarea class = "form-control" rows = 8 cols = 40 form = "usrForm" name = "comments">Add your comments</textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Send</button>
          </div>
            </form>

        </div>
      </div>





    <!-- <section id = "dashboard">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <button class = "button-toggle btn"type="button" name="button">Shared</button>
          </div>
          <div class="col-md-6">
            <button class = " btn"type="button" name="button">Saved</button>
          </div>
        </div>
        </div>
      </div>
    </section> -->



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="index.js" charset="utf-8"></script>

  </body>

  </html>
