<%-include('header')%>
  <body>

    <section id = "portfolio">
      <div class="container">
        <img src="" alt="portfolio">
        <h3>User Name</h3>
        <h5>account number</h5>
      </div>

      <form class="" action="/yours" method="post">
        <div class="buttons">
          <div class="row">
            <div class="left col-md-6">
              <button class = "btn btn-danger"type="submit" name="addNew" value = "addNew">Add New</button>
            </div>
            <div class="right col-md-6">
              <button class = "btn btn-outline-danger"type="submit" name="account" value = "account">Account</button>
            </div>
          </div>
        </div>
      </form>
        <!-- <div class="buttons">
          <div class="row">
            <div class="left col-md-6">
              <button class = "btn btn-danger"type="button" name="addNew" value = "addNew">Add New</button>
            </div>
            <div class="right col-md-6">
              <button class = "btn btn-outline-danger"type="button" name="account" value = "account">Account</button>
            </div>
          </div>
        </div> -->

    </section>

    <section id = "dashboard">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <button class = "button-toggle btn"type="button" name="button">Shared</button>
          </div>
          <div class="col-md-6">
            <button class = " btn"type="button" name="button">Saved</button>
          </div>
        </div>
        </div>
      </div>

    </section>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="index.js" charset="utf-8"></script>

  </body>
</html>
