
body{
  font-family:"Montserrat",sans-serif;
}

h1{
  font-weight:bold;
  font-size:3rem;
}

.bi-geo-alt, .bi-phone{
  float:left;
}

.button-toggle{
  border-bottom:solid;
  border-bottom-color:red;
  border-bottom-width:thick;
}

.contact-i{
  margin-right:1rem;
  font-size:1.5;
}



.contact-information{
  margin-top:3rem;
}

.f-title-right{
  display:flex;
  flex-direction: column;
  align-items:center;
}


.food-image, .place-image{
  width:40%;
  border-radius:5%;
}

.form-control{
  height:50px;
  width:50%;
  border-radius:25px;
  font-family:sans-serif;
}

.feet{
  padding:5% 10%;
  color:grey;
}

.food-image{
  float:right;
}

.modal{
  position:absolute;
  pointer-events:none;
}

.modal .form-control{
  border-radius:2px;
  width:100%;
  height:100%;


}


.search-bar{
  clear:left;
}

.feet h3{
  color:black;
}

.food,.place{
  padding:5% 10%;
  /* font-family:'Montserrat',sans-serif; */
}

.food-discription,.place-discription{
  line-height: 2;
  font-weight:100;
  margin:3rem 0;
}

.food-title,.place-title{
  font-weight:bold;
}

.food-info{
  width:50%;
  margin-right:auto;
}

.logo{
  width:66%;
}

.nav-item{
  margin: auto 3rem;
}


.place-info{
  width:50%;
  margin-left:auto;
}


.place-title{
  display:block;
}

.place-image{
  float:left;

}



.social{
  margin-top:50px;
}

.social-media{
  margin:0 20px 0 0 ;
}

.title{
  margin-bottom:3rem;
}

.user{
  color:white;
  font-size:1.5rem;
}

#account img{
  width:20rem;
  height:20rem;
  object-fit:cover;
}

#account .btn{
  display:block;
  margin-top:20px;
}



#community-area, #your-posts, #account{
  padding:7rem 7rem 4.5rem;
}

#community-area .card, #your-posts .card{
  margin:auto;
  border-radius:10px;
}

#community-area .posts, #your-posts .post{
  width:250px;
  height:250px;
  object-fit:cover;
  margin:auto;


}

#community-area .comment, #your-posts .comment{
  font-family:'Montserrat',sans-serif;
  color:#808080;
  font-size:0.8rem;
  font-weight:lighter;
}

#community-area .filler, #your-posts .filler{
  height:250px;
  color:#DDDDDD;
  display:flex;
  flex-direction:column;
  align-items:center;
}


#dashboard .row{
  width:20%;
  margin:-50px auto;
}

#dashboard .col-md-6{
  display:flex;
  flex-direction:column;
  align-items: center;
}

#dashboard button{
  border-radius:5px;
}

#more .container-fluid{
  width:75%;
  height:80%;
  margin:10%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius:15px;
  padding:5rem;

}

#more .container{

  width:600px;
  height:500px;
  margin:auto;
  overflow:scroll;
}

#more .save{
  font-size:3rem;


}

.clicked{
  color:red;
}

#more img{
  width:20rem;
  height:20rem;
  object-fit:cover;

}



#portfolio{
  padding:10rem 0 4rem;
}

#portfolio button{
  margin:1rem 0 0;
}

#portfolio .container{
  display:flex;
  flex-direction:column;
  align-items: center;
}

#portfolio .col-md-6{
  display:flex;
  flex-direction:column;
  align-items:center;
}

#portfolio .userImg{
  width:150px;
  height:150px;
  object-fit:cover;
}



/* #portfolio h3{
  margin-top:2rem;
}

#portfolio h5{
  color:grey;
  font-family:sans-serif;
  font-weight: 100;
  margin:0 0 1rem 0;
} */

#portfolio h4{
  color:grey;
}

#portfolio .row{
  width:20%;
  margin: 0 auto;
}

#your-posts .add{
  border-radius:10px;
  font-weight:bolder;
}
